services:
	moduleManager:
		setup:
			- addModule(Crm\WalletPayModule\WalletPayModule())

	gatewayFactory:
		setup:
			- registerGateway(applepay_wallet, Crm\WalletPayModule\Gateways\ApplePayWallet)
			- registerGateway(googlepay_wallet, Crm\WalletPayModule\Gateways\GooglePayWallet)

	- Crm\WalletPayModule\Api\ApplePayMerchantValidationHandler
	- Crm\WalletPayModule\Gateways\ApplePayWallet
	- Crm\WalletPayModule\Gateways\GooglePayWallet
	- Crm\WalletPayModule\Seeders\ConfigsSeeder
	- Crm\WalletPayModule\Seeders\PaymentGatewaysSeeder
	- Crm\WalletPayModule\Model\TatraBankaGooglePayWallet
	- Crm\WalletPayModule\DataProviders\WalletPayTokensDataProvider
	- Crm\WalletPayModule\Repositories\WalletPayTokensRepository
	- Crm\WalletPayModule\Model\TatraBankaApplePayWallet